{% extends '../base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}

        <!-- content -->
        <div id="content">

            <!-- banner -->
            <section class="mil-banner mil-banner-sm">
                <img src="{% static 'img/covers/bristol-hotel-kaduna5.jpg' %}" class="mil-bg-img mil-scale" data-value-1=".4" data-value-2="1.4" alt="image" style="object-position: top">
                <div class="mil-overlay"></div>
                <div class="container">
                    <div class="mil-background-grid mil-top-space"></div>
                    <div class="mil-banner-content mil-center">
                        <div class="mil-mb-90">
                            <h1 class="mil-light mil-upper mil-mb-30">Our Services</h1>
                            <ul class="mil-breadcrumbs mil-center">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- banner end -->

            <!-- services -->
            <section>
                <div class="container mil-p-120-90">
                    <div class="mil-background-grid mil-softened"></div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                            <div class="mil-center mil-mb-120">
                                <span class="mil-suptitle mil-upper mil-up mil-mb-30">Macro Acres</span>
                                <p class="mil-text-lg mil-up">Beyond Structures – We Build Dreams, Value, and the Future.</p>
                            </div>

                        </div>
                    </div>

                    <div class="mil-center mil-mb-90">
                        <span class="mil-suptitle mil-upper mil-up mil-mb-30">Our Core Services</span>
                        <h2 class="mil-upper mil-up">Service is what life is all about.</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 mil-up">

                            <a href="{% url 'services' %}" class="mil-service-card mil-mb-30">
                                <div class="mil-card-number">01.</div>
                                <div class="mil-center">
                                    <div class="mil-icon mil-icon-lg mil-mb-30">
                                        <img src="{% static 'img/icons/3.svg' %}" alt="icon">
                                    </div>
                                    <h4 class="mil-upper mil-mb-20">Feasibility Studies</h4>
                                    <div class="mil-divider-sm mil-mb-20"></div>
                                    <p class="mil-service-text">We extend pre-design insights drawn from in-depth professional studies and hands-on experiences. Our objective is to aid potential clients in evaluating the worth of prospective projects.</p>
                                    <div class="mil-go-buton mil-icon mil-icon-lg mil-icon-accent-bg">
                                        <img src="{% static 'img/icons/1.svg' %}" alt="icon">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-4 mil-up">

                            <a href="{% url 'services' %}" class="mil-service-card mil-mb-30">
                                <div class="mil-card-number">02.</div>
                                <div class="mil-center">
                                    <div class="mil-icon mil-icon-lg mil-mb-30">
                                        <img src="{% static 'img/icons/5.svg' %}" alt="icon">
                                    </div>
                                    <h4 class="mil-upper mil-mb-20">Designs</h4>
                                    <div class="mil-divider-sm mil-mb-20"></div>
                                    <p class="mil-service-text">Our prowess lies in our knack to comprehend the diverse requirements of our clients. We pride ourselves on crafting solutions that not only cater to these needs but also ensure unparalleled value for money.</p>
                                    <div class="mil-go-buton mil-icon mil-icon-lg mil-icon-accent-bg">
                                        <img src="{% static 'img/icons/1.svg' %}" alt="icon">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-4 mil-up">

                            <a href="{% url 'services' %}" class="mil-service-card mil-mb-30">
                                <div class="mil-card-number">03.</div>
                                <div class="mil-center">
                                    <div class="mil-icon mil-icon-lg mil-mb-30">
                                        <img src="{% static 'img/icons/4.svg' %}" alt="icon">
                                    </div>
                                    <h4 class="mil-upper mil-mb-20">Project Management</h4>
                                    <div class="mil-divider-sm mil-mb-20"></div>
                                    <p class="mil-service-text">As representatives of our clients, we employ innovative techniques to harmonize available resources, including time, money, and manpower, with the overarching project objectives. </p>
                                    <div class="mil-go-buton mil-icon mil-icon-lg mil-icon-accent-bg">
                                        <img src="{% static 'img/icons/1.svg' %}" alt="icon">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-4 mil-up">

                            <a href="{% url 'services' %}" class="mil-service-card mil-mb-30">
                                <div class="mil-card-number">04.</div>
                                <div class="mil-center">
                                    <div class="mil-icon mil-icon-lg mil-mb-30">
                                        <img src="{% static 'img/icons/4.svg' %}" alt="icon">
                                    </div>
                                    <h4 class="mil-upper mil-mb-20">Supervision</h4>
                                    <div class="mil-divider-sm mil-mb-20"></div>
                                    <p class="mil-service-text">We believe in the essence of meticulous supervision. With our post-contract consultancy, we guarantee unwavering attention to detail, ensuring each project materializes as envisioned.</p>
                                    <div class="mil-go-buton mil-icon mil-icon-lg mil-icon-accent-bg">
                                        <img src="{% static 'img/icons/1.svg' %}" alt="icon">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-4 mil-up">

                            <a href="{% url 'services' %}" class="mil-service-card mil-mb-30">
                                <div class="mil-card-number">05.</div>
                                <div class="mil-center">
                                    <div class="mil-icon mil-icon-lg mil-mb-30">
                                        <img src="{% static 'img/icons/3.svg' %}" alt="icon">
                                    </div>
                                    <h4 class="mil-upper mil-mb-20">Real Estate</h4>
                                    <div class="mil-divider-sm mil-mb-20"></div>
                                    <p class="mil-service-text">All other services in our built environment is covered under this aspect including Infrastructure. We deliver as a single entity or within the purview of Joint Venture Arrangements.</p>
                                    <div class="mil-go-buton mil-icon mil-icon-lg mil-icon-accent-bg">
                                        <img src="{% static 'img/icons/1.svg' %}" alt="icon">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-4 mil-up">

                            <a href="{% url 'services' %}" class="mil-service-card mil-mb-30">
                                <div class="mil-card-number">05.</div>
                                <div class="mil-center">
                                    <div class="mil-icon mil-icon-lg mil-mb-30">
                                        <img src="{% static 'img/icons/5.svg' %}" alt="icon">
                                    </div>
                                    <h4 class="mil-upper mil-mb-20">Investment</h4>
                                    <div class="mil-divider-sm mil-mb-20"></div>
                                    <p class="mil-service-text">All other services in our built environment is covered under this aspect including Infrastructure. We deliver as a single entity or within the purview of Joint Venture Arrangements.</p>
                                    <div class="mil-go-buton mil-icon mil-icon-lg mil-icon-accent-bg">
                                        <img src="{% static 'img/icons/1.svg' %}" alt="icon">
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </section>
            <!-- services end -->

             <!-- advantages -->
           <section>
            <div class="container mil-p-120-60">
                <div class="mil-background-grid mil-softened"></div>

                <div class="row">
                    <div class="col-12">

                        <div class="mil-center mil-mb-90">
                            <span class="mil-suptitle mil-upper mil-up mil-mb-30">Our Advantages</span>
                            <h2 class="mil-upper mil-up mil-mb-30">We Take Care of Everything <br>for You!</h2>
                            <p class="mil-up">At MACRO ACRES LIMITED, We seek to be the gold standard in architectural consultancy.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-3">

                        <div class="mil-advantage mil-icon-box mil-center mil-up mil-mb-60">
                            <h4 class="mil-upper mil-mb-30">Listen</h4>
                            <div class="mil-icon mil-icon-border mil-mb-30">
                                <img src="{% static 'img/icons/6.svg' %}" alt="icon">
                            </div>
                            <p>Our clients stand at the heart of everything we do.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-3">

                        <div class="mil-advantage mil-icon-box mil-center mil-up mil-mb-60">
                            <h4 class="mil-upper mil-mb-30">Strategies</h4>
                            <div class="mil-icon mil-icon-border mil-mb-30">
                                <img src="{% static 'img/icons/6.svg' %}" alt="icon">
                            </div>
                            <p>To commit ourselves to the pursuit of architectural and design excellence..</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-3">

                        <div class="mil-advantage mil-icon-box mil-center mil-up mil-mb-60">
                            <h4 class="mil-upper mil-mb-30">Project Work</h4>
                            <div class="mil-icon mil-icon-border mil-mb-30">
                                <img src="{% static 'img/icons/6.svg' %}" alt="icon">
                            </div>
                            <p>Deliver innovative, value-added homes and consultancy services.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-3">

                        <div class="mil-advantage mil-icon-box mil-center mil-up mil-mb-60">
                            <h4 class="mil-upper mil-mb-30">Launch</h4>
                            <div class="mil-icon mil-icon-border mil-mb-30">
                                <img src="{% static 'img/icons/6.svg' %}" alt="icon">
                            </div>
                            <p>Tranforming homes one design at a time.</p>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- advantages end -->


            <!-- call to action -->
            <section>
                <div class="container mil-p-0-120">
                    <div class="row justify-content-between">
                        <div class="col-lg-4">
                            <span class="mil-suptitle mil-upper mil-up mil-mb-30">Your Idea</span>
                            <h2 class="mil-upper mil-up">Interested in Our <span class="mil-marker">Work?</span></h2>
                        </div>
                        <div class="col-lg-4 mil-mt-suptitle-offset">
                            <p class="mil-up">We deliver customers satisfaction through multi-disciplinary consultancy, real estate services and project management.</p>
                        </div>
                        <div class="col-lg-3 mil-mt-suptitle-offset">
                            <div class="mil-adaptive-right mil-up">
                                <a href="{% url 'contact' %}" class="mil-button">Let's Talk Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- call to action end -->


{% endblock content %}
